
.fe-cto_anexo-a:before { content: '\e800'; } /* '' */
.fe-cto_anexo-b:before { content: '\e801'; } /* '' */
.fe-cto_anexo-c:before { content: '\e802'; } /* '' */
.fe-cto_corte-suprema:before { content: '\e804'; } /* '' */
.fe-cto_edificio-oij:before { content: '\e805'; } /* '' */