@font-face {
  font-family: 'oij_icons';
  src: url('../font/oij_icons.eot?60452771');
  src: url('../font/oij_icons.eot?60452771#iefix') format('embedded-opentype'),
       url('../font/oij_icons.woff2?60452771') format('woff2'),
       url('../font/oij_icons.woff?60452771') format('woff'),
       url('../font/oij_icons.ttf?60452771') format('truetype'),
       url('../font/oij_icons.svg?60452771#oij_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'oij_icons';
    src: url('../font/oij_icons.svg?60452771#oij_icons') format('svg');
  }
}
*/


.fe {
  display: inline-block;
  font: normal normal normal 14px/1 oij_icons;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
.fe-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fe-2x {
  font-size: 2em;
}
.fe-3x {
  font-size: 3em;
}
.fe-4x {
  font-size: 4em;
}
.fe-5x {
  font-size: 5em;
}
.fe-fw {
  width: 1.28571429em;
  text-align: center;
}
.fe-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fe-ul > li {
  position: relative;
}
.fe-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fe-li.fe-lg {
  left: -1.85714286em;
}
.fe-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.fe-pull-left {
  float: left;
}
.fe-pull-right {
  float: right;
}
.fe.fe-pull-left {
  margin-right: .3em;
}
.fe.fe-pull-right {
  margin-left: .3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fe.pull-left {
  margin-right: .3em;
}
.fe.pull-right {
  margin-left: .3em;
}
.fe-spin {
  -webkit-animation: fe-spin 2s infinite linear;
  animation: fe-spin 2s infinite linear;
}
.fe-pulse {
  -webkit-animation: fe-spin 1s infinite steps(8);
  animation: fe-spin 1s infinite steps(8);
}

@-webkit-keyframes fe-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fe-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fe-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fe-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fe-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fe-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fe-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fe-rotate-90,
:root .fe-rotate-180,
:root .fe-rotate-270,
:root .fe-flip-horizontal,
:root .fe-flip-vertical {
  filter: none;
}
.fe-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fe-stack-1x,
.fe-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fe-stack-1x {
  line-height: inherit;
}
.fe-stack-2x {
  font-size: 2em;
}
.fe-inverse {
  color: #ffffff;
}

.fe-cto_anexo-a:before { content: '\e800'; } /*Edificio Anexo A*/

.fe-cto_anexo-b:before { content: '\e801'; } /*Edificio Anexo B*/

.fe-cto_anexo-c:before { content: '\e802'; } /*Edificio Anexo C*/

.fe-cto_corte-suprema:before { content: '\e804'; } /*Edificio Corte Suprema*/

.fe-cto_edificio-oij:before { content: '\e805'; } /*Edificio OIJ*/

.fe-color-white {color:#FFF}
.fe-color-black {color:#000}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}